@page
@model MIRS.Web.Pages.SubmitReportModel
@{


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-4 animated slideInDown mb-4">Submit a Report</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 500px;">
                <h1 class="display-6 mb-5">We Provide professional City Services</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/infra.png" alt="test">
                            </div>
                            <h4 class="mb-0"> Infrastructure Issues</h4>
                        </div>
                        <p class="mb-4">
                            Road potholes and cracks / Damaged sidewalks / Ground subsidence / Drainage and
                            flood issues
                        </p>
                        <a class="btn btn-light px-3" href="/ReportForm">Submit a Report</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/light.png" alt="">
                            </div>
                            <h4 class="mb-0">Public Lighting</h4>
                        </div>
                        <p class="mb-4">
                            Streetlights not working / Dim or flickering lights / Exposed electrical wires /
                            Broken or leaning light poles
                        </p>
                        <a class="btn btn-light px-3" href="/ReportForm">Submit a Report</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/waste.png" alt="">
                            </div>
                            <h4 class="mb-0">Waste & Cleanliness</h4>
                        </div>
                        <p class="mb-4">
                            Garbage accumulation / Full or damaged waste bins / Illegal dumping sites / Bad
                            odors
                        </p>
                        <a class="btn btn-light px-3" href="/ReportForm">Submit a Report</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/health.png" alt="">
                            </div>
                            <h4 class="mb-0">Public Health & Safety</h4>
                        </div>
                        <p class="mb-4">
                            Stray animals / Insects or rodents / Water leakage or contamination / Public health
                            hazards
                        </p>
                        <a class="btn btn-light px-3" href="/ReportForm">Submit a Report</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/urgent.png" alt="">
                            </div>
                            <h4 class="mb-0">Emergency & Urgent Issues</h4>
                        </div>
                        <p class="mb-4">
                            Flooding due to rain / Fallen trees / Partial building collapse / Immediate public
                            danger
                        </p>
                        <a class="btn btn-light px-3" href="/ReportForm">Submit a Report</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid" src="/img/other.png" alt="">
                            </div>
                            <h4 class="mb-0">Other</h4>
                        </div>
                        <p class="mb-4">Unclassified issues / Improvement suggestions / General complaints</p>
                        <a class="btn btn-light px-3" href="/ReportForm">Submit a Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
}
